body {
    background-image: url(https://www.larutadelsorigens.cat/wallpic/full/13-136906_white-wood-wallpaper-white-background-grey-wooden-plank.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

#recipe_Img {
    float: left;
    margin-top: -5px;
}

.header {
    padding-top: 30px;
    padding-bottom: 10px;
 }
 
 #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    opacity: 0.9;
    text-align: center;
 }

/* .boxed {
    height: 170px;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
    opacity: 0.8;
    border-radius: 10px;
    border: 3px dashed black;
    text-align: center;
 } */

 .blue-grey {
    min-height: 170px;
    font-size: 30px;
    font-family: 'Julius Sans One', sans-serif;
    opacity: 0.9;
    border-radius: 10px;
    border: 3px dashed black;
    text-align: center;
    display: inline-block;
 }

  h2  {
      margin-top: 20px;
      margin-bottom: 50px;
  }

.youtube {
    background-color: white;
    color: black;
    width: 400x;
    height: 305px;
    border: 15px solid green;
    padding: 0px;
    margin-top: 25px;
    /* display:inline-block; */
    float: right;
    padding-right: 100px;
    margin-bottom: 50px;
}

#email {
    float:left;
    align-content: center;
    margin-top: 20px;
}

button {
    text-align: center;
    display: inline-block;
    color: white;
    padding: 0px 16px;
}

.iframe-container{
    position: relative;
    height: 0;
    display: inline-block;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

button {
    background:teal;
}

a {
    color: white;
}

a .buttontext {
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

.container {
    text-align: center;
}

.btn {
    background: red;
}
@media only screen and (min-width:10px) and (max-width: 500px){.mobile-button {width: 100%; }}


#link:link {
    color: white;
}

#link:visited {
    color: rgb(202, 202, 202);
}

#link:hover {
    color: red;
}

#link:active {
    color: darkred;
}