body {
    background-color: white;
    text-align: center;
   
}

#recipe_Img {
    background-color: blue;
    float: left;
    margin-top: -5px;
}

.boxed {
    background-color: white;
    color:white;
    width: 420px;
    height: 315px;
    border: 15px solid green;
    padding: 15px;
    margin: 15px;
    margin-left: 30px;
    display:inline-block;
  }

  h4 {
      margin-top: 20px;
      margin-bottom: 25px;
  }

.youtube {
    background-color: white;
    color: black;
    width: 400x;
    height: 305px;
    border: 15px solid green;
    padding: 0px;
    margin-top: 25px;
    /* display:inline-block; */
    float: right;
    padding-right: 100px;
    margin-bottom: 50px;
}

#email {
    float:left;
    align-content: center;
    margin-top: 20px;
}

button {
    text-align: center;
    display: inline-block;
}

.iframe-container{
    position: relative;
    height: 0;
    float: left;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

@media only screen and (min-width:10px) and (max-width: 500px){.mobile-button {width: 100%; }}
