/* Welcome Page Styling */
body {
   background-image: url(https://www.larutadelsorigens.cat/wallpic/full/13-136906_white-wood-wallpaper-white-background-grey-wooden-plank.jpg);

   background-size: cover;
   background-position:center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   opacity: 0.8;
}

.header {
   padding-top: 30px;
   padding-bottom: 10px;
}

#logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 150px;
   height: 150px;
   opacity: 0.9;
   text-align: center;
}

#jumbotron img{
   width: 100%;
   height: 300px;
}

/* #aboutus {
   color: rgb(27, 27, 27);
   font-size: 60px;
   font-family: 'Archivo Black', sans-serif;
   margin-top: 100px;
   margin-bottom: 50px;
   text-align: center;
} */


.blue-grey {
   min-height: 170px;
   font-size: 30px;
   font-family: 'Julius Sans One', sans-serif;
   opacity: 0.9;
   border-radius: 10px;
   border: 3px dashed black;
   text-align: center;
}

.transparent {
   height: 170px;
   font-size: 30px;
   font-family: 'Julius Sans One', sans-serif;
   opacity: 0.8;
   border-radius: 10px;
   border: 3px dashed black;
   text-align: center;
}

.fas {
   font-size: 45px;
}

.fa-hamburger {
   color: orange;
}

.fa-hotdog {
   color: rgb(216, 140, 178);
}

.fa-fish {
   color: rgb(40, 241, 241);
}

.fa-pepper-hot {
   color: red;
}

#clickfridge {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 60px;
   font-weight: bolder;
   color: rgb(27, 27, 27);
   margin-bottom: 60px;
   margin-top: 40px;
}

#fridgePic {
   text-align:center;
   margin-left:43%;
   margin-right:48%;
   width: 400px;
   height: 600px;
   margin-bottom: 80px;
}

#fridgePic {
   text-align:center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
}

footer {
   background-color: rgb(117, 135, 136);
   bottom: 0px;
   border-top: 2px dashed black;
}

#footerlogo {
   display: block;
   margin: 20px auto 15px auto;
   width: 150px;
   height: 150px;
   opacity: 0.9;
   text-align: center;
}

footer #copyright {
   text-align: center;
   color: white;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 30px;
   font-weight: bolder;
   padding-bottom: 10px;
}

footer 
#member1,
#member2 {
   text-align: center;
   color: white;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 15px;
   font-weight: bolder;
   margin-bottom: 5px;
}

footer #member2 {
    padding-bottom: 20px;
}



/*Ingredients page styling*/

#ingredients {
   text-align:left;
   min-height: 100px;
   min-width: 200px; 
   background-color: rgb(117, 135, 136);
   border: 3px dashed black;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 1.5rem;
}

#selectedIngredients {
   text-align: right;
   min-width: 200px;
   min-height: 100px;
   background-color: rgb(117, 135, 136);
   border: 3px dashed black;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 1.5rem;
}

#foodGroupTitle {
   margin-left:10px;
   font-family: 'Julius Sans One', sans-serif;
}

#selectedGroupTitle {
   margin-right: 10px;
   /* margin-top: 25px; */
   padding: 20px 0 25px 0;
   font-family: 'Julius Sans One', sans-serif;
}

span {
   font-family: 'Indie Flower', cursive;
   color:black;
   padding:10px;
   margin:5px;
}

#selectedIngredientsList {
   font-family: 'Indie Flower', cursive;
}

#fridgeContainer {
   position: relative;
}

#fridge {
   width: 130%;
   height: auto;
   margin-left: 15px;
}

#protein {
   width: 50%;
   height: auto;
   position: absolute;
   bottom: 34%;
   left: 25%;
}

#ingredientSection {
   padding-bottom:20px;
}

.checkBox {
   color:white;
}

[type="checkbox"]+span:not(.lever) {
   font-size: 1.5rem;
   padding-top:0px;
}
/* span::before {
   padding: auto 5px;
} */

#protein {
   width: 50%;
   height: auto;
   position: absolute;
   bottom: 34%;
   left: 25%;
}

#protein:hover {
   transition: .5s ease;
   width: 55%;
   opacity: 0.9;
}

#fruitAndVeg {
   width: 26%;
   height: auto;
   position: absolute;
   bottom: 16%;
   left: 55%;
}

#fruitAndVeg:hover {
   transition: .5s ease;
   width: 31%;
   opacity: 0.9;
}

#grains {
   width: 20%;
   height: auto;
   position: absolute;
   bottom: 19%;
   left: 20%;
}

#grains:hover {
   transition: .5s ease;
   width: 25%;
   opacity: 0.9;
}

#dairy {
   width: 15%;
   height: auto;
   position: absolute;
   bottom: 62%;
   left: 20%;
}

#dairy:hover {
   transition: .5s ease;
   width: 20%;
   opacity: 0.9;
}

#condiments {
   width: 20%;
   height: auto;
   position: absolute;
   bottom: 63%;
   left: 65%;
}

#condiments:hover {
   transition: .5s ease;
   width: 25%;
   opacity: 0.9;
}

li {
   padding:5px;
   margin-top: 10px;
   margin-bottom: 10px;
}

a .goPageThree {
   text-align: center;
   width: 170px;
   height: 60px;
   font-size: 20px;
   font-weight: bolder;
   margin-bottom: 40px;
}

a .goPageThree:hover {
   background-color: rgb(248, 117, 117);
}


/* Page three CSS */

a .returnPageTwo{
   margin-top: 30px;
   margin-bottom: 20px;
   font-size: 20px;
   border-radius: 10px;
}

a .returnPageTwo:hover {
   background-color: rgb(248, 117, 117);
}

#clickimagemsg {
   text-align: center;
   font-family: 'Amatic SC', cursive;
   font-size: 60px;
   font-weight: bolder;
}

.image-size img{
   height: 400px;
   color: rgb(27, 27, 27);
   margin-top: 30px;
}

.card-content {
   min-height: 150px;
}

.title-section {
   color: black;
   font-weight: bolder;
   font-family: 'Julius Sans One', sans-serif;
   font-size: 20px;
}

.recipe-card {
   border: 5px solid rgb(117, 135, 136);
}

.container-recipe {
   background-color: rgb(117, 135, 136);
}

.notice {
   color: white;
   font-size: 60px;
   font-family: 'Amatic SC', cursive;
   text-align: center;
}