body {
    background-color: rgb(77,140,255);
    text-align: center;
    color: white;
}

#recipe_Img {
    background-color: blue;
}

.boxed {
    background-color: white;
    color: black;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    display:inline-block
  }

  h4 {
      margin-top: 20px;
  }

.youtube {
    background-color: white;
    color: black;
    width: 300px;
    border: 15px solid red;
    padding: 50px;
    margin: 20px;
}

@media only screen and (min-width:10px) and (max-width: 500px){.mobile-button {width: 100%; }}
