#logo {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    
}

.jumbotron {
    padding:1rem 2rem;
    text-align:center;
}

#bottombar {
    position: fixed;
    bottom:0;
    width:100%;
    margin:0;
    height: 20%;
    
}

#fridgePic {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

/*Ingredients page styling*/

#fridgeContainer {
    position: relative;
}

#fridge {
    width: 130%;
    height: auto;
}

#protein {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 34%;
    left: 22%;
}

#fruitAndVeg {
    width: 26%;
    height: auto;
    position: absolute;
    bottom: 16%;
    left: 50%;
}

#grains {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 19%;
    left: 17%;
}

#dairy {
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 62%;
    left: 17%;
}

#condiments {
    width: 20%;
    height: auto;
    position: absolute;
    bottom: 63%;
    left: 61%;
}

#selectedIngredients {
    text-align: right;
}