#logo {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    
}

.jumbotron {
    padding:1rem 2rem;
    text-align:center;
}

#bottombar {
    position: fixed;
    bottom:0;
    width:100%;
    margin:0;
    height: 20%;
    
}

#fridgePic {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}